<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
</head>

<body>
  <form action="/api/auth/reset/{{token}}/{{userId}}/" method="post">
    {% csrf_token %}
    <input type="text" name="password1" placeholder="new password" />
    <br />
    <input type="text" name="password2" placeholder="confirm new password" />
    <br />
    <button type="submit">Reset Password</button>
  </form>
  </body>
  </html> -->
  
  
  
  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/resetPasscss.css' %}" />
    <!-- <script src="{% static 'js/resetPass.js' %}"></script> -->
  </head>
  
  <body>
    <!-- <div class="overlay">
                                        <form action="/api/auth/reset/{{token}}/{{userId}}/" method="post">
                                          {% csrf_token %}
                                    
                                          <div class="con">
                                    
                                            <header class="head-form">
                                              <h2>Change Password</h2>
                                    
                                              <p>Enter your new password</p>
                                            </header>
                                            <br>
                                            <div class="field-set">
                                    
                                              <span class="input-item">
                                                <i class="fa fa-user-circle"></i>
                                              </span>
                                              <input type="password" placeholder="New Password" class="form-input" id="passOne" name="password1" required />
                                    
                                    
                                              <br>
                                    
                                              <span class="input-item">
                                                <i class="fa fa-key"></i>
                                              </span>
                                              <input type="password" placeholder="Confirm Password" id="passTwo" name="password2" required />
                                    
                                    
                                    
                                              <span>
                                                <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                                              </span>
                                    
                                              <div id="footer" class="incorrect">
                                                <center>
                                                  <h1 id="footerText">Filler text</h1>
                                                </center>
                                              </div>
                                    
                                    
                                              <br>
                                    
                                              <button class="log-in"> Change Password </button>
                                            </div>
                                    
                                    
                                            <div class="other">
                                    
                                              <i class="fa fa-user-plus" aria-hidden="true"></i>
                                              </button>
                                            </div>
                                    
                                            <!--   End Container  -->
    <!-- </div> -->
  
    <!-- End Form -->
    <!-- </div> -->
  
    <!-- <div id="container overlay">
                                          
                                              <div id="header">
                                                <center>
                                                  <h1>Change Password</h1>
                                                </center>
                                              </div>
                                              <div id="form">
                                                <input type="password" placeholder="New Password" id="passOne" />
                                                <input type="password" placeholder="Confirm Password" id="passTwo" />
                                              </div>
                                              <div id="footer" class="incorrect">
                                                <center>
                                                  <h1 id="footerText">Filler text</h1>
                                                </center>
                                              </div>
                                            </div> -->
  
  
    <div id="container">
  
      <div id="header">
        <form action="/api/auth/reset/{{token}}/{{userId}}/" method="post">
          {% csrf_token %}
          <center>
            <h1>Change Password</h1>
          </center>
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li type="none" class="{{ message.tags }}"> {{ message }} </li>
            {% endfor %}
  
          </ul>
          {% endif %}
      </div>
      <div id="form">
        <input type="password" placeholder="New Password" id="passOne" name="password1" required />
        <input type="password" placeholder="Confirm Password" id="passTwo" name="password2" required />
      </div>
      <div id="footer" class="incorrect" style="display: flex; align-items: center;justify-content: center;">
        <button style="background: transparent;border: none;text-align: center;pointer-events: stroke;">
          <h1 id="footerText">Fields dont match</h1>
        </button>
      </div>
      </form>
    </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        var passOne = $("#passOne").val();
        var passTwo = $("#passTwo").val();

        $("#footerText").html("Fields don't match");

        var checkAndChange = function () {
          if (passOne.length < 1) {
            if ($("#footer").hasClass("correct")) {
              $("#footer").removeClass("correct").addClass("incorrect");
              $("#footerText").html("They don't match");
            } else {
              $("#footerText").html("They don't match");
            }
          }
          else if ($("#footer").hasClass("incorrect")) {
            if (passOne == passTwo) {
              $("#footer").removeClass("incorrect").addClass("correct");
              $("#footerText").html("Continue");
            }
          }
          else {
            if (passOne != passTwo) {
              $("#footer").removeClass("correct").addClass("incorrect");
              $("#footerText").html("They don't match");
            }
          }
        }



        $("input").keyup(function () {
          var newPassOne = $("#passOne").val();
          var newPassTwo = $("#passTwo").val();

          passOne = newPassOne;
          passTwo = newPassTwo;

          checkAndChange();
        });
      });
    </script>
  </body>

</html>